<mat-toolbar class="app-toolbar">
  <button mat-icon-button routerLink="/books" aria-label="Home" i18n-aria-label="@@app.home">
    <mat-icon>local_library</mat-icon>
  </button>
  <span class="app-title" routerLink="/books">Book Library</span>
  <span class="spacer"></span>
  <span class="book-count" i18n="@@app.count">{{ bookService.count() }} book(s)</span>
  <a mat-button [href]="otherLangHref" [matTooltip]="otherLangLabel">{{ otherLangLabel }}</a>
  <button
    mat-icon-button
    (click)="toggleTheme()"
    [matTooltip]="isDark() ? lightModeLabel : darkModeLabel"
  >
    <mat-icon>{{ isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
